
{{nu-toggle toggle_id="toggle_me"}}

{{#nu-toggleable toggle_id="toggle_me"}}
    <h2 id="title">Welcome to Ember</h2>
{{/nu-toggleable}}

{{#nu-toggleable toggle_id="toggle_me"}}
    <h2 id="title">Welcome to Ember</h2>
{{/nu-toggleable}}